PYTHONPATH=.

# PostgreSQL
DATABASE_URL=

# Telegram Bot
TELEGRAM_BOT_TOKEN=8636821255:AAFWaD0Goabs-cb1aANuV3BSxot9u1gmIJE

# Instagram Graph API
IG_APP_ID=2440316499770823
IG_APP_SECRET=b5f73230bf3ccf54da1ed9f72e27d22e
IG_BUSINESS_ACCOUNT_ID=17841419542273082
IG_ACCESS_TOKEN=IGAAYNwlRfyghBZAGFSRU9SUTlGMVJRbE5IZAUlPakctblNpM29VN21SZAFFLRzVLS25tZAXpXWEVweWt1MXdMT0hvYTR1UlJZAeE9DeGw5MFJVdzRVcF83X0J2SUhEODhtbVMyRXZApektVdThDdms2bjR0SzVaVW1kcWdkY09DeTRxdwZDZD
WEBHOOK_VERIFY_TOKEN=temur_secret_verify

# Encryption key (Fernet)
FERNET_KEY=OJtc_IGPoyAcO9NGkiEfMTc0N7zXJI5qD2PgB4KWjzU=

# License master key (admin creates licenses)
LICENSE_MASTER_KEY=your_master_key_here
